<!-- Catalog & Promotions -->

	<div class="counter">
		<div class="container mt-5 mb-5">
			<div class="counter_content">
				<div class="row">
					<div class="col-lg-6 d-flex justify-content-center">
                        <a href="{{ record.catalogue.path }}">
						    <img class="catalog_img" src="{{ asset('images/catalogue-2023.png') }}" alt="catalogue 2023" title="Catalogue 2023">
                        </a>
					</div>
					<div class="promo_img" class="col-lg-6 d-flex justify-content-center">
						<img src="{{ asset('images/techniman-promotions.png') }}" alt="Nos promotions" title="Nos promotions">
					</div>
				</div>
			</div>
		</div>
	</div>